# CMake (for accidental in-source builds)
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# build folder inside the source directory
build

# VIM swap files
*.swp
